Задача заключается в том, чтобы предложить алгоритм, который будет выдавать склонность клиента к положительному или отрицательному отклику на предложение банка. Предполагается, что, получив такие оценки для некоторого множества клиентов, банк обратится с предложением только к тем, от кого ожидается положительный отклик.

Создайте модель линейной регрессии, которая бы оценивала лояльность пользователей к отклику.

Пояснения к признакам набора данных:

• AGREEMENT_RK — уникальный идентификатор объекта в выборке;
• TARGET — целевая переменная: отклик на маркетинговую кампанию (1 — отклик был зарегистрирован, 0 — отклика не было);
• AGE — возраст клиента;
• SOCSTATUS_WORK_FL — социальный статус клиента относительно работы (1 — работает, 0 — не работает);
• SOCSTATUS_PENS_FL — социальный статус клиента относительно пенсии (1 — пенсионер, 0 — не пенсионер);
• GENDER — пол клиента (1 — мужчина, 0 — женщина);
• CHILD_TOTAL — количество детей клиента;
• DEPENDANTS — количество иждивенцев клиента;
• PERSONAL_INCOME — личный доход клиента (в рублях);
• LOAN_NUM_TOTAL — количество ссуд клиента;
• LOAN_NUM_CLOSED — количество погашенных ссуд клиента.

In [3]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("ClientsData.csv")
df.head(3)

,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,PERSONAL_INCOME,LOAN_NUM_TOTAL,LOAN_NUM_CLOSED,LOAN_DLQ_NUM,TARGET
0,49,1,0,1,2,1,5000.0,1,1,2,0
1,32,1,0,1,3,3,12000.0,1,1,1,0
2,52,1,0,1,4,0,9000.0,2,1,0,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15223 entries, 0 to 15222
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                15223 non-null  int64
 1   SOCSTATUS_WORK_FL  15223 non-null  int64
 2   SOCSTATUS_PENS_FL  15223 non-null  int64
 3   GENDER             15223 non-null  int64
 4   CHILD_TOTAL        15223 non-null  int64
 5   DEPENDANTS         15223 non-null  int64
 6   PERSONAL_INCOME    15223 non-null  float64
 7   LOAN_NUM_TOTAL     15223 non-null  int64
 8   LOAN_NUM_CLOSED    15223 non-null  int64
 9   LOAN_DLQ_NUM       15223 non-null  int64
 10  TARGET             15223 non-null  int64
dtypes: float64(1), int64(10)
memory usage: 1.3 MB

In [11]:
df["TARGET"].describe()

count    15223.000000
mean         0.119030
std          0.323835
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: TARGET, dtype: float64

In [17]:
df["TARGET"].value_counts()

TARGET
0    13411
1     1812
Name: count, dtype: int64